// toggle btn
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 28px;
    margin: 0 1rem;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  $secondary-background-color ;
    border: 1px solid $light-color-alt;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 4px;
    background-color: $light-color;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  // filter

.filter-wrapper{
  border: 1px solid $light-color-alt;
  padding: 4rem 5rem;
}

@media screen and (max-width:700px){
  .filter-wrapper{
    padding: 1rem 3rem;
  }
}

.hidden{
  display: none;
}